footer.footer 
	.section_in 
		.footer_main 
			.footer_col__start 
				.footer_logo 
					a(href="#")
						img(src="/i/logo.png") 
				.footer_col__info_gap
					p ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ ЧИНЯЕВ АЛЕКСЕЙ ЕВГЕНЬЕВИЧ, ИНН: 650502931989
					p ЮРИДИЧЕСКИЙ АДРЕС: 359120, РОССИЯ, КАЛМЫКИЯ РЕСП, КЕТЧЕНЕРОВСКИЙ Р-Н, П КЕТЧЕНЕРЫ, УЛ ПУШКИНА, Д 36 КВ 1
			.footer_col__menu
				h6 Навигация
				nav 
					each item in ['Главная', 'Калькулятор', 'Процесс работы', 'FAQ', 'Новости', 'Контакты']
						a(href="#")=item 
			.footer_col__contacts 
				ul.footer_contacts__list 
					li 
						a(href="#")
							h6 8 495 128-78-94 
					li 
						a(href="#")
							h6 doks@okzalog.ru
				ul.footer_socials 
					li 
						a(href="#")
							img(src="/i/wa.png")
					li 
						a(href="#")
							img(src="/i/tg.png")
					li 
						a(href="#")
							img(src="/i/vi.png")
		.footer_bottom 
			.footer_policy 
				a(href="#") Политика конфиденциальности 
			.footer_privacy 
				a(href="#") Юридическая информация 
			.footer_policy 
				a(href="#")!="<p>Дизайнер</p> <span>Плотницкий Юрий</span>" 