header.header 
	.section_in 
		.header_main
			.header_col__left
				.header_logo 
					a(href="/")
						img(src="/i/logo.svg", alt="Логотип компании")
				nav.header_nav 
					-
						var navigation = [
							{title: 'О Компании', link: '/'},
							{title: 'Продукты', link: '/'},
							{title: 'Документация ПО', link: '/'},
							{title: 'Блог', link: '/'},
							{title: 'Карьера', link: '/'},
						]
					ul
						each item in navigation
							li 
								a(href=item.link)=item.title
			.header_col__right 
				+social-list([{link: '/', icon: 'telegram'}, {link: '/', icon: 'vk'}])
				+btn({ text: 'Консультация', className: 'primary dark' })