.popup.popup_form 
	.popup_bg.remove
	.close_btn.remove
		+iconify({icon: 'ci:close-lg', width: '3rem', height: '3rem'})
	.popup_main.popup_form__main 
		.popup_form__img 
			img(src="/i/fform.jpg")
		.popup_form__action
			.popup_form__action__head 
				h3 Остались вопросы?
				p Оставьте заявку и мы свяжемся с вами в течение 5 минут
			.fform_form
				.fform_form__col
					+input({place: 'Ваш телефон'})
					+input({place: 'ФИО'})
				.calculator__forms__agreement 
					input(type="checkbox" id="agreement-popup")
					label(for="agreement-popup")
						.calculator__forms__agreement_icon 
							+iconify({icon: 'mingcute:check-line'})
						p Я даю согласие на обработку персональных данных
				.btn.fform_btn.primary Оставить заявку

.popup.popup_info
	.popup_bg.remove
	.close_btn
		+iconify({icon: 'ci:close-lg', width: '3rem', height: '3rem'})
	.popup_scroll 
		.popup_main.popup_main__info 
			h3 Перезалог автомобиля под ПТС: выгодное решение финансовых вопросов
			ul.popup_info__list 
				li 
					p Что такое перезалог автомобиля под ПТС?
					span Перезалог автомобиля под ПТС – это процесс получения деньгиа, используя свой автомобиль в качестве залога. Это удобный способ получить деньги, не продавая свое средство передвижения
				li 
					p Преимущества перезалога автомобиля
					span Одним из основных преимуществ перезалога автомобиля под ПТС является возможность быстро получить нужную сумму, не теряя при этом права на владение машиной. Кроме того, данный вид деньгиования часто доступен даже с плохой деньгиной историей.
				li 
					p Рефинансирование автомобиля: выгодные условия для клиентов
					span Рефинансирование автомобиля – это возможность заменить текущий займ на более выгодные условия. Это позволяет снизить ежемесячные выплаты или срок деньгиа, что значительно облегчает финансовое бремя.
				li 
					p Преимущества рефинансирования автомобиля
					span Одним из ключевых преимуществ рефинансирования автомобиля является возможность снижения процентной ставки по деньгиу, что приводит к экономии денег в долгосрочной перспективе. Также это позволяет улучшить свою деньгиную историю.
				li 
					p Автоломбард под ПТС: надежное решение финансовых трудностей
					span Автоломбард под ПТС предоставляет возможность получить деньги, используя свой автомобиль в качестве залога. Это удобный и быстрый способ решить финансовые проблемы, не расставаясь со своим транспортным средством
				li 
					p Преимущества автоломбарда под ПТС
					span Одним из главных преимуществ автоломбарда под ПТС является оперативность получения денег. Клиенты могут получить нужную сумму в течение короткого времени, минуя сложные процедуры и проверки, характерные для банковских учреждений.
			.popup_btn.btn.primary.form_open Оставить заявку

.burger
	.burger_bg 
	.burger_main 
		nav.burger_nav
			each item in ['Главная', 'Калькулятор', 'Процесс работы', 'FAQ', 'О нас', 'Новости', 'Контакты'] 
				a(href="#")=item
		.popup_btn.btn.primary.form_open Оставить заявку