section.aboutBlocks 
	.section_in 
		.aboutBlocks__main 
			.aboutBlocks__img 
				picture
					source(srcset="/i/about-square.png", media='(min-width:1024px)')
					source(srcset="/i/about-square.png",  media='(min-width:640px)')
					img(src="/i/about-square.png", )
			.aboutBlocks__content 
				.aboutBlocks_content__txt 
					h3.h3.text-red О нас
					p Локализация нашего производства очень высока — разработка и сборка оборудования происходит в России. Благодаря обширному штату конструкторов, инженеров, программистов мы не зависим от западных и азиатских поставщиков и можем оперативно вносить изменения в конструкцию оборудования и топологию печатных плат, прошивки камер или встроенное ПО, или микропрограммное обеспечение. Мы соберем камеру вашей мечты! 
				.aboutBlocks_bottom__img 
					img(src="/i/about-bottom-img.png")