section.conf 
	.section_in 
		.conf_main 
			.conf_img 
				img(src="/i/conf.png")
			.conf__content 
				h3.h1.text-white КОНФИГУРАТОР IP-КАМЕР
				p Мы — производственное предприятие, а не продавец чужих решений, поэтому у нас нет ограниченного списка готовых товаров. Мы предлагаем широкий спектр опций, выбрав из которых, вы создадите нужную вам камеру. 
				p Самые проверенные и востребованные функции уже внесены в конфигуратор. Если того, что вам нужно, нет в конфигураторе, то мы всегда готовы к новым разработкам. 
				+btn({ text: 'Содать свою камеру', className: 'primary dark', href: '/' })