section.licence 
	.section_in 
		.licence_main 
			h2 
			ul.licence_list
				-
					var licence = [
						{
							title: 'Лицензия Стандарт',
							text: 'Тип программного обеспечения Рувер со стандартными техническими характеристиками. </br> Включает в себя базовый набор опций системы безопасности, техническую поддержку и доступ к серверу обновлений.',
							fly: 'Универсальное решение',
						},
						{
							title: 'Лицензия PRO',
							text: 'Прогрессивный тип программного обеспечения Рувер с расширенными возможностями </br> Повышенная отказоустойчивость, доступ к интеграционной документации, индивидуальное техническое обслуживание.',
							fly: 'Расширенный функционал',
						}
					]
				each item in licence 
					+licence(item)