section.sixstep 
	.section_in 
		.sixstep_main 
			h2.h1 Все оборудование проходит 6 стадий
			ul.sixstep_list
				-
					var sixstepList = [
						{num: '01', title: 'Согласование технического задания', text: 'Формируем четкие  требования к функциональности, чтобы обеспечить эффективную работу системы'},
						{num: '02', title: 'Разработка', text: 'Реализуем программное решение, направленное на удовлетворение потребностей пользователей '},
						{num: '03', title: 'Сборка прототипа', text: 'Преобразуем концепцию в модель для тестирования и оценки функциональности'},
						{num: '04', title: 'Тестирование', text: 'Проверяем надежность продукта с целью обеспечения его качества перед запуском в эксплуатацию'},
						{num: '05', title: 'Производство', text: 'Превращаем разработанные решения в готовую продукцию с помощью оптимизированных процессов'},
						{num: '06', title: 'Готовый продукт', text: 'Итоговый результат, который отвечает потребностям клиента и сочетает в себе качество и функциональность'},
					]
				each item in sixstepList
					+sixstep(item)