.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
	background-color: $blue;
	color: $white;
	a {
		color: $white;
	}
	@include bp($point_2) {
		min-height: 100%;
	}
}

.footer_main {
	@include flex-space;
	align-items: flex-start;
	padding: 5rem 0 3rem 0;
	@include bp($point_2) {
		flex-direction: column;
		position: relative;
		padding-bottom: 24.7rem;
	}
}

.footer_logo {
	max-width: 20.5rem;
	background-color: $white;
	border-radius: 1.5rem;
	padding: 1.3rem 4rem;
	margin-bottom: 7rem;
	@include bp($point_2) {
		max-width: 15rem;
		margin-bottom: 5rem;
		padding: 1rem 2.5rem;
		border-radius: 1rem;
	}
}

.footer_col__start {
	max-width: 35.5rem;
}

.footer_col__info_gap {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	opacity: 0.6;
	@include bp($point_2) {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 33.2rem;
		font-size: 1.6rem;
		padding-bottom: 3rem;
	}
}

.footer_col__menu {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	@include bp($point_2) {
		order: 1;
	}
	h6 {
		font-size: 1.8rem;
		opacity: 0.6;
		font-weight: 500;
	}

	nav {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.footer_socials {
	@include flex-start;
	gap: 1.5rem;
	@include bp($point_2) {
		margin-bottom: 5rem;
		gap: 1rem;
	}
	li {
		@include bp($point_2) {
			width: 6rem;
			height: 6rem;
			@include flex-center;
		}
	}
}

.footer_contacts__list {
	margin-bottom: 9.7rem;
	@include bp($point_2) {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
	a {
		transition: all 0.2s ease-in-out;
		&:hover {
			opacity: 0.6;
		}
	}
}

.footer_bottom {
	@include flex-space;
	padding: 1.5rem 0 3rem 0;
	border-top: 0.2rem solid rgba(255, 255, 255, 0.589);
	@include bp($point_2) {
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
	}
	div {
		font-weight: 500;
		transition: all 0.2s ease-in-out;
		&:not(:last-child) {
			opacity: 0.6;
			&:hover {
				opacity: 1 !important;
			}
		}

		&:last-child {
			a {
				@include flex-start;
				gap: 0.6rem;
			}
			p {
				opacity: 0.6;
				transition: all 0.2s ease-in-out;
				&:hover {
					opacity: 1;
				}
			}
			span {
				text-decoration: underline;
			}
		}
	}
}

.footer_privacy {
	padding-left: 8rem;
	@include bp($point_2) {
		padding: 0;
	}
}
