.header {
	position: fixed;
	top: 0;
	left: 0;
	height: $header;
	width: 100%;
	will-change: transform;
	// @include z-index(header);
	z-index: 96; // padding: 2rem 0;
	@include flex-space;
	background-color: #e7edf4;
	transition: all 0.3s ease-in-out;
	@include bp($point_2) {
		height: 7rem;
	}

	&.fixed {
		backdrop-filter: blur(1rem);
		background-color: #e7edf438;

		.header_logo,
		.header_nav,
		.header_phone a {
			background-color: rgba(255, 255, 255, 0.637);
		}
	}
}

.section_in {
	width: 100%;
}

.header_main {
	@include flex-space;
	gap: 1.5rem;
	width: 100%;
	@include bp($point_2) {
		gap: 0.5rem;
	}
}

.header_logo {
	background-color: $white;
	padding: 1.1rem 3.2rem;
	border-radius: 1.5rem;

	@include bp($point_2) {
		max-width: 15rem;
	}
}

.header_nav {
	background-color: $white;
	border-radius: 1.5rem;
	@include flex-start;
	padding: 0 3rem;
	gap: 2.6rem;

	@include bp($point_2) {
		display: none;
	}
	a {
		@include flex-center;
		padding: 2.3rem 0;
		transition: all 0.2s ease-in-out;
		&:hover {
			color: $blue;
		}
	}
}

.header_phone {
	a {
		@include flex-start;
		background-color: $white;
		border-radius: 1.5rem;

		&:hover {
			background-color: $blue !important;
			p {
				color: $white;
			}
			.header_phone__icon img {
				transform: rotate(5deg);
			}
		}
		@include bp($point_2) {
			gap: 1rem;
			border-radius: 1rem;
		}
	}

	p {
		padding: 2rem 2.6rem 2rem 1.6rem;
		font-size: 1.8rem;
		color: $blue;
		transition: all 0.3s ease-in-out;
		@include bp($point_2) {
			font-size: 1.6rem;
			padding: 1.4rem 1.4rem 1.4rem 0.5rem;
		}

		@include bp($point_6) {
			display: none;
		}
	}
}

.header_phone__icon {
	width: 5.5rem;
	height: 5.5rem;
	@include flex-center;
	background-color: $blue;
	padding: 1.1rem;
	border-radius: 1.2rem;
	margin-left: 0.5rem;
	img {
		transition: all 0.3s ease-in-out;
	}

	@include bp($point_2) {
		max-width: 4rem;
		max-height: 4rem;
		border-radius: 0.8rem;
	}
	@include bp($point_6) {
		max-width: 5rem;
		max-height: 5rem;
		margin-left: 0;
	}
}

.header_btn {
	flex-grow: 1;
	@include bp($point_2) {
		display: none;
	}
}

.burger-btn {
	display: none;
	@include bp($point_2) {
		@include flex-center;
		position: relative;
		width: 5rem;
		height: 5rem;
		border-radius: 1rem;
		background-color: $white;
	}

	.burger-close,
	.burger-open {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.3s ease-in-out;
	}

	.burger-close {
		opacity: 0;
		visibility: hidden;
	}

	&.active {
		.burger-close {
			opacity: 1;
			visibility: visible;
		}
		.burger-open {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.header_space {
	display: none;
	@include bp($point_2) {
		flex-grow: 1;
		display: flex;
	}
}
