.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include flex-center;
	z-index: 98;
	padding: 2rem;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;

	@include bp($point_6) {
		top: auto;
		bottom: 0;
		align-items: flex-end;
		padding: 0;
	}

	&.active {
		opacity: 1;
		visibility: visible;

		.popup_main {
			transform: translateY(0);
		}
	}
}

.popup_info {
	// display: none;
}

.popup_main {
	transform: translateY(5rem);
	transition: all 0.3s ease-in-out;
}

.popup_form {
	// display: none;
}

.popup_form__main {
	max-width: 141.2rem;
	background-color: $white;
	border-radius: 1.5rem;
	width: 100%;
	position: relative;
	padding: 2rem 7rem 2rem 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	gap: 4rem;
	@include bp($point_2) {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
		padding: 6.2rem 2.5rem 2.5rem 2.5rem;
	}

	@include bp($point_6) {
		gap: 3rem;
	}

	@include bp($point_6) {
		padding: 7rem 1.4rem 1.4rem 1.4rem;
	}

	.close_btn {
		@include bp($point_2) {
			display: flex !important;
			color: $black;
			top: 2.5rem;
			right: 2.5rem;
			align-items: center;
			justify-content: center;
			width: 4.5rem;
			height: 4.5rem;
		}

		@include bp($point_6) {
			top: 1.4rem;
			right: 1.4rem;
			width: 4rem;
			height: 4rem;
		}
	}

	.gl__icon {
		@include flex-center;
	}
}

.popup_scroll {
	padding: 4rem;
	background-color: $white;
	border-radius: 1.5rem;
	position: relative;
	max-width: 83rem;
	@include bp($point_2) {
		padding-top: 7rem;
		padding-right: 2rem;
	}

	@include bp($point_6) {
		padding: 6rem 1.4rem 1.4rem 1.4rem;
	}

	.close_btn {
		@include bp($point_2) {
			display: flex !important;
			color: $black;
			top: 2.5rem;
			right: 2.5rem;
			align-items: center;
			justify-content: center;
			width: 4.5rem;
			height: 4.5rem;
		}
		@include bp($point_6) {
			position: absolute !important;
			right: 1.4rem;
			top: 1.4rem;
		}
	}
}

.popup_main__info {
	max-height: 88dvh;
	overflow-y: auto;
	@include bp($point_2) {
		padding-right: 1rem;
	}

	@include bp($point_2) {
		max-height: 80dvh;
	}

	@include bp($point_6) {
		position: relative;
	}

	h3 {
		font-size: 3.8rem;
		padding-bottom: 3rem;
		margin-bottom: 3rem;
		border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);

		@include bp($point_2) {
			font-size: 2.8rem;
		}
	}
}

.popup_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $black;
	opacity: 0.6;
}

.popup_form__action__head {
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.popup_form__action {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.popup_form__img {
	width: 100%;
	height: 51.5rem;
	overflow: hidden;
	border-radius: 1.5rem;
	@include bp($point_2) {
		order: 2;
		height: 38.8rem;
	}

	@include bp($point_6) {
		height: auto;
	}
	img {
		object-fit: cover;
	}
}

.close_btn {
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	width: 5rem;
	height: 5rem;
	color: $white;
	cursor: pointer;
	@include bp($point_2) {
		display: none;
	}
}

.popup_info__list {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-bottom: 4rem;
	@include bp($point_2) {
		gap: 2rem;
	}

	li {
		&:not(:last-child) {
			border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
			padding-bottom: 3rem;
		}
		p {
			font-size: 2.4rem;
			font-weight: 700;
			margin-bottom: 1.5rem;
			@include bp($point_2) {
				font-size: 2.2rem;
			}
		}
	}
}

.popup_btn {
	max-width: 54.2rem;
	margin: 0 auto;
	@include bp($point_2) {
		max-width: 100%;
	}
}

.burger {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 48;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	&.active {
		opacity: 1;
		visibility: visible;

		.burger_main {
			transform: translateY(0);
		}
	}
}

.burger_main {
	background-color: #e7edf4;
	padding: 11.5rem 2rem 2rem 2rem;
	position: relative;
	border-radius: 0px 0px 1.5rem 1.5rem;
	border-bottom: 0.1rem solid $blue;
	transform: translateY(5rem);
	transition: all 0.3s ease-in-out;
	@include bp($point_6) {
		padding: 9.5rem 2rem 2rem 2rem;
	}
}

.burger_nav {
	@include flex-start;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	height: 19rem;
	gap: 3rem 6rem;
	max-width: 26.8rem;
	margin-bottom: 6rem;
	@include bp($point_6) {
		margin-bottom: 3rem;
	}
}

.popup_thanks__main {
	background-color: $white;
	border-radius: 1.5rem;
	padding: 10rem 6rem;
	text-align: center;
	position: relative;

	max-width: 72.8rem;

	@include bp($point_2) {
		padding: 8rem 2rem;
	}
	@include bp($point_6) {
		padding: 8rem 1.4rem;
	}
}

.popup_thanks__img {
	max-width: 32.2rem;
	@include flex-center;
	margin: 0 auto;
}

.popup_thanks__content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.popup_thanks__close {
	top: 3rem;
	right: 3rem;
	color: $black;
	@include flex-center;
}
