.hero_slide {
	position: relative;
	min-height: 53.9rem;
	padding: 6rem 3rem;
	color: $white;
	border-radius: 1.5rem;
	overflow: hidden;
}

.hero_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.hero_slide__content {
	max-width: 69.6rem;
	h1 {
		font-size: 5.2rem;
		margin-bottom: 1.5rem;
		line-height: 120%;
	}
	p {
		max-width: 58.2rem;
		margin-bottom: 4rem;
	}
}

.hero_slide_btn__row {
	@include flex-start;
	gap: 1.5rem;
}

// Services

.services_main {
	margin: -7.6rem 0 18rem 0;
	position: relative;
	z-index: 2;
	padding: 0 3rem;
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
		gap: 1.5rem;
		li {
			background-color: $white;
			border-radius: 1.5rem;
			padding: 2rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			min-height: 25rem;
			position: relative;

			h3 {
				font-size: 2.4rem;
			}
			p {
				opacity: 0.6;
			}
		}

		.services_item__link {
			position: absolute;
			bottom: 3rem;
			left: 2rem;
			width: 4rem;
			height: 4rem;
			@include flex-center;
			border: 0.2rem solid $blue;
			border-radius: 0.5rem;
			.gl__icon {
				@include flex-center;
				color: $blue;
			}
		}
	}
}

// Calculator

.calculator_main__w {
	padding: 4rem 4rem 3rem 4rem;
	border-radius: 1.5rem;
	background-color: $white;
	margin-bottom: 19rem;
}

.calculator_main {
	@include flex-start;
	gap: 10rem;
	margin-bottom: 3rem;
}

.calculator__forms {
	flex-grow: 1;
	background-color: #f6f6f6;
	border-radius: 1.5rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;

	h3 {
		font-size: 2.4rem;
		font-weight: 600;
		margin-bottom: 3rem;
	}
}

.calculator__slider__w {
	h3 {
		font-size: 4.2rem;
		margin-bottom: 4rem;
	}
}

.calculator__slider__form {
	background-color: #f6f6f6;
	padding: 1.8rem 2rem 2.6rem 2rem;
	border-radius: 1.5rem;
	position: relative;
	// overflow: hidden;
	margin-bottom: 1.6rem;
	p {
		font-size: 1.6rem;
		font-weight: 500;
	}

	span {
		font-size: 2.8rem;
		font-weight: 700;
	}
}

.calculator_value__row {
	@include flex-space;
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 5rem;
}

.slider input[type="range"] {
	display: none;
}

.calculator__months {
}

/* ===== кастомный слайдер ===== */
.calculator__slider {
	position: absolute;
	// height: 2.6rem;
	user-select: none;
	cursor: pointer;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1rem;
}

.slider__track,
.slider__progress {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 100%;
}
.slider__track {
	width: 100%;
	background: #efefef;
	border-bottom-left-radius: 100rem;
	border-bottom-right-radius: 100rem;
}

.slider__progress {
	width: 0;
	background: $blue;
	border-bottom-left-radius: 100rem;
	border-bottom-right-radius: 100rem;
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: -0.8rem;
		transform: translate(50%, -50%);
		border: 0.8rem solid #e7edf4;
		background-color: $blue;
		width: 2.6rem;
		height: 2.6rem;
		border-radius: 100rem;
	}
}

.calculator__months {
	p {
		font-size: 1.8rem;
		font-weight: 500;
		margin-bottom: 2rem;
	}
}

.calculator__months__select {
	@include flex-start;
	gap: 1.5rem;
	li {
		input {
			display: none;
			&:checked + label {
				background-color: $blue;
				color: $white;
			}
		}
		label {
			@include flex-center;
			padding: 2rem 2.3rem;
			font-size: 1.8rem;
			font-weight: 500;
			background-color: #f6f6f6;
			border-radius: 1rem;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
		}
	}
}

.calculator_forms__qty {
	@include flex-start;
	gap: 2.5rem;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.315);
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.calculator_forms__qty__input {
	font-size: 2.4rem;
	font-weight: 700;
	color: $blue;
}

.calculator_forms__qty__minus,
.calculator_forms__qty__plus {
	width: 4rem;
	height: 4rem;
	@include flex-center;
	border: 0.1rem solid $black;
	border-radius: 100rem;

	.gl__icon {
		@include flex-center;
		cursor: pointer;
	}
}

.calculator_forms__col {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2rem;
}

.calculator__forms__agreement {
	margin-bottom: 3rem;
	input {
		display: none;
		&:checked + label .calculator__forms__agreement_icon {
			background-color: $blue;

			.gl__icon {
				opacity: 1;
			}
		}
	}

	label {
		position: relative;
		cursor: pointer;
		user-select: none;
		p {
			padding-left: 3.5rem;
			opacity: 0.6;
			font-weight: 500;
		}
	}
}

.calculator__forms__agreement_icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 2.5rem;
	height: 2.5rem;
	border: 0.2rem solid $blue;
	border-radius: 0.5rem;
	@include flex-center;
	transition: all 0.2s ease-in-out;
	.gl__icon {
		@include flex-center;
		width: 2rem;
		height: 2rem;
		opacity: 0;
		transition: all 0.2s ease-in-out;
		color: $white;
	}
}

.calculator__bottom {
	ul {
		@include flex-start;
		gap: 6rem;
		flex-wrap: wrap;
		li {
			@include flex-start;
			gap: 1rem;
			color: $blue;
			background-color: #f6f6f6;
			border-radius: 1.5rem;
			padding: 1.5rem 2rem;
			flex-grow: 1;
			font-size: 1.8rem;

			.gl__icon {
				width: 3.5rem;
				height: 3.5rem;
				@include flex-center;
				color: $blue;
			}
		}
	}
}

.whats_main {
	margin-bottom: 17rem;
	h4 {
		text-align: center;
		margin-bottom: 4rem;
	}
}

.whats__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	gap: 2.2rem;
	counter-reset: list-counter;
	li {
		background-color: $white;
		border-radius: 1.5rem;
		padding: 3rem 2.5rem;
		position: relative;
		min-height: 36.8rem;
		counter-increment: list-counter;
		&:before {
			content: counter(list-counter, decimal-leading-zero);
			position: absolute;
			bottom: 2.5rem;
			left: 2.5rem;
			font-size: 3.2rem;
			color: $blue;
			font-weight: 700;
		}
	}
}

.whats_item__head {
	h3 {
		font-size: 2.4rem;
		margin-bottom: 1rem;
	}
}

.whats_decor__img {
	max-width: 18rem;
	@include flex-center;
	position: absolute;
	bottom: 0;
	right: 0;
}

.actions__main {
	background-color: $white;
	padding: 9rem 6.4rem 8rem 12rem;
	@include flex-space;
	position: relative;
	border-radius: 1.5rem;
	margin-bottom: 17rem;
}

.actions__form {
	max-width: 54.6rem;
	width: 100%;
	h4 {
		margin-bottom: 4rem;
	}
	.global_input {
		margin-bottom: 3rem;
		width: 100%;
	}

	.btn.primary {
		display: inline-flex;
		padding-left: 6.9rem;
		padding-right: 6.9rem;
	}
}

.actions_img {
	position: absolute;
	bottom: 0;
	right: 6.4rem;
}

.require_main,
.reviews_main {
	margin-bottom: 22rem;
	h4 {
		margin-bottom: 4rem;
	}
}

.require__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	grid-gap: 2rem;
}

.require__item {
	padding: 3rem 3rem 5rem 2.5rem;
	background-color: $white;
	border-radius: 1.5rem;
	h5 {
		font-size: 2.4rem;
		color: $blue;
		margin-bottom: 3rem;
	}
}

.require_item__list {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	counter-reset: list-counter;
	li {
		counter-increment: list-counter;
		&:before {
			content: counter(list-counter) ".";
			padding-right: 0.5rem;
		}
	}
}

.reviews__head {
	@include flex-space;
	margin-bottom: 4rem;
}

.reviews__nav {
	@include flex-end;
	gap: 2rem;
	div {
		width: 6rem;
		height: 6rem;
		background-color: $white;
		border-radius: 1rem;
		cursor: pointer;
		.gl__icon {
			@include flex-center;
			color: $blue;
		}
	}
}

.reviews_slide {
	background-color: $white;
	border-radius: 1.5rem;
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	grid-gap: 10rem;
}

.reviews_slide__content {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.reviews_slide_content__head {
	h6 {
		font-size: 2.8rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}

.reviews_slide__params {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	li {
		@include flex-space;
		font-size: 1.8rem;
		font-weight: 500;
		p {
			color: $blue;
		}
	}
}

.reviews_slide__txt {
	font-weight: 500;
	line-height: 140%;
}

.faq_main__w {
	margin-bottom: 22rem;
	h6 {
		margin-bottom: 4rem;
	}
}

.faq_main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	gap: 2rem;
}

.faq_acc {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.faq_item {
	padding: 2.1rem 2.5rem;
	background-color: $white;
	border-radius: 1.5rem;
	transition: all 0.2s ease-in-out;
	user-select: none;

	&.active {
		background-color: $blue;
		color: $white;

		.faq_item__icon .gl__icon {
			transform: rotate(45deg);
			margin-right: -0.2rem;
		}
	}
}

.faq_item__head {
	@include flex-space;
	gap: 2rem;

	p {
		font-size: 2.4rem;
		font-weight: 500;
	}
}

.faq_item__content {
	padding-top: 2.2rem;
	display: none;
}

.faq_item__icon {
	@include flex-center;
	background-color: #e7edf4;
	color: $blue;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 1rem;
	cursor: pointer;
	&.active {
		background-color: $white;
	}
	.gl__icon {
		@include flex-center;
		transition: all 0.3s ease-in-out;
	}
}

.addservices_main {
	margin-bottom: 22rem;
	h6 {
		margin-bottom: 4rem;
	}
}

.addservices_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	grid-gap: 2rem;
	li {
		background-color: $white;
		border-radius: 1.5rem;
		padding: 3rem 2.5rem;
		position: relative;
		min-height: 32.5rem;
		cursor: pointer;

		h3 {
			font-size: 2.4rem;
			margin-bottom: 1rem;
		}
	}
}

.addservices_item__img {
	position: absolute;
	bottom: 1.2rem;
	right: 1.5rem;
	width: 14.9rem;
	@include flex-center;
}

.addservices_item__link {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	width: 4rem;
	height: 4rem;
	color: $blue;
	border-radius: 0.5rem;
	border: 0.2rem solid $blue;
	@include flex-center;
	.gl__icon {
		@include flex-center;
	}
}

.about {
	h6 {
		margin-bottom: 4rem;
	}
}

.about_main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	gap: 2.4rem;
}
.about_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	gap: 2.4rem;
	.about_item {
		background-color: $white;
		border-radius: 1.5rem;
		padding: 2rem 2.5rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
}

.about_item__content {
	h6 {
		font-size: 3.8rem;
		color: $blue;
		margin-bottom: 0.5rem;
	}

	p {
		opacity: 0.6;
	}
}

.about_item__img {
	width: 5.5rem;
	height: 5.5rem;
	@include flex-center;
}

.about_action {
	position: relative;
	border-radius: 1.5rem;
	overflow: hidden;

	picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		img {
			object-fit: cover;
		}
	}
}

.about_action__content {
	color: $white;
	padding: 4rem 2.5rem 2.5rem 2.5rem;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	h6,
	p {
		max-width: 42.4rem;
	}

	h6 {
		margin-bottom: 1.5rem;
	}

	p {
		flex-grow: 1;
	}
}

.about_btn {
	max-width: 24rem;
}

.homenews__head {
	@include flex-space;
	margin-bottom: 3.4rem;
}

.homenews__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	grid-gap: 2rem;
}

.newsCard {
	min-height: 43.1rem;
	background-color: $white;
	border-radius: 1.5rem;
	padding: 3rem 2.5rem 2.5rem 2.5rem;
	display: flex;
	flex-direction: column;
	h3 {
		font-size: 2.4rem;
		font-weight: 500;
		flex-grow: 1;
	}
}

.newsCard__cat {
	margin-bottom: 2.5rem;
	a {
		font-size: 1.8rem;
		color: $blue;
		font-weight: 500;
		display: flex;
	}
}

.newsCard_bottom {
	@include flex-space;
	gap: 2rem;
}

.newsCard__date {
	font-size: 1.8rem;
	span {
		display: flex;
		font-size: 3.8rem;
		font-weight: 700;
	}
}

.newsCard__link {
	width: 6rem;
	height: 6rem;
	background-color: $blue;
	border-radius: 1rem;
	a {
		@include flex-center;
		width: 100%;
		color: $white;
		height: 100%;
		.gl__icon {
			@include flex-center;
			transform: rotate(-45deg);
		}
	}
}

.maps_main {
	margin-bottom: 18rem;
	h6 {
		margin-bottom: 4rem;
	}
}

.map {
	position: relative;
	padding: 3rem;
	background-color: $white;
	border-radius: 1.5rem;
	height: 72rem;
}

.map__card {
	top: 4.5rem;
	left: 4.5rem;
	padding: 2.5rem 10rem 2.5rem 2.5rem;
	border-radius: 1.5rem;
	background-color: $white;
	position: absolute;
}

.fform_main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	background-color: $white;
	border-radius: 1.5rem;
	padding: 2rem 2rem 2rem 4rem;
	gap: 12rem;
}

.fform_col__img {
	border-radius: 1.5rem;
	overflow: hidden;
}

.fform_form__head {
	h6 {
		margin-bottom: 1rem;
	}
}

.fform_form {
	display: flex;
	flex-direction: column;
}

.fform_form__col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
}
