.newspage_list {
	@include flex-start;
	gap: 1rem;
	margin-bottom: 2rem;
	@include bp($point_2) {
		flex-wrap: wrap;
	}
	li {
		a {
			background-color: $white;
			border-radius: 1rem;
			@include flex-center;
			padding: 1.75rem 3rem;
			font-size: 1.8rem;
			font-weight: 500;
			&.active {
				background-color: $blue;
				color: $white;
			}
		}
	}
}

.newspage__grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	grid-gap: 2rem;
	margin-bottom: 15rem;
	@include bp($point_2) {
		grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
		margin-bottom: 11rem;
	}
}
