//------------------------------------------------------------base styles

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);
}

html {
	height: 100%;
	font: 400 calc(100vw / 1920 * 10) / 1.33 $font_1;
	// scroll-behavior: smooth;
	// user-select: none;
	@include bp($point_2) {
		font-size: 10px;
	}
}

body {
	position: relative;
	display: flex;
	background-color: #e7edf4;

	height: 100%;
	font-size: $font_size_base;

	color: $color_text_base;
	-webkit-text-size-adjust: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// background: $body_bg;
	@include bp($point_2) {
		font-size: 1.6rem;
	}

	@supports (display: grid) {
		display: block;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;
	overflow-x: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: $header 0 0;

	flex: 1 0 auto;

	@include bp($point_2) {
		padding: 7rem 0 0;
	}
}

a {
	text-decoration: none;
	color: $color_link_base;
	transition: all 0.3s ease;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// Animation

@keyframes loopIcons {
	0% {
		transform: rotate();
	}
	100% {
		transform: rotate(25deg);
	}
}

.section_in {
	max-width: $page_width;
	margin: 0 auto;
	padding: 0 2rem;

	@include bp($point_6) {
		padding: 0 1.4rem;
	}
}

//------------------------------------------------------------base styles###

.btn {
	padding: 2rem 3rem;
	font-size: 1.8rem;
	border-radius: 1.5rem;
	@include flex-center;
	cursor: pointer;
	line-height: 2rem;
	min-height: 6.4rem;
	transition: all 0.2s ease-in-out;
	position: relative;
	overflow: hidden;

	@include bp($point_2) {
		min-height: 5rem;
		height: 5rem;
		border-radius: 1rem;
	}

	@include bp($point_6) {
		font-size: 1.6rem;
	}

	a {
		color: $white;
	}

	&.primary {
		border: 0.2rem solid $blue;
		background-color: $blue;
		color: $white;

		&.white {
			background-color: $white;
			color: $black;
			&.border-none {
				border: none;
			}
		}
		&:hover {
			// background-color: transparent;
			// color: $black;
			&.white {
			}
		}
	}
	&.secondary {
		border: 0.2rem solid $blue;
		color: $blue;
		&:hover {
			background-color: transparent;
			color: $black;
		}
		&.white {
			border-color: $white;
			color: $white;
			&:hover {
				background-color: transparent;
				color: $white;
			}
		}
	}
}

.global_input {
	@include app;
	background-color: #efefef;
	padding: 2rem 2.5rem;
	border-radius: 1.5rem;
	font-size: 1.8rem;

	@include bp($point_2) {
		font-size: 1.6rem;
		padding: 2rem 1.5rem;
		border-radius: 1rem;
		height: 5rem;
	}
}

h2,
h3,
h4,
h5,
h6 {
	font-size: 4.2rem;
	font-weight: 700;
	@include bp($point_2) {
		font-size: 3.2rem;
	}
}

.mb22 {
	margin-bottom: 22rem;
	@include bp($point_2) {
		margin-bottom: 19rem;
	}
}
.mb18 {
	margin-bottom: 18rem;
	@include bp($point_2) {
		margin-bottom: 11rem;
	}
}

.breadcrumbs {
	ul {
		display: flex;
		flex-wrap: nowrap; // Отключить wrap, если не нужно
	}

	li,
	a,
	span {
		// display: inline-block;
		// max-width: 40rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 40rem;
	}

	span {
		padding: 0 0.5rem;
	}

	li {
		display: flex;
		align-items: center;
	}

	&--white {
		color: $white;
		a {
			color: $white;
		}
	}
}

.head_main {
	background-image: url("/i/news-bg.png");
	background-size: cover;
	background-position: center center;
	padding: 4rem 4rem 9.2rem 3rem;
	border-radius: 1.5rem;
	margin-bottom: 6rem;
	@include bp($point_2) {
		padding: 3rem 1.6rem 3.5rem 1.6rem;
		background-image: url("/i/news-bg-tablet.png");
	}
}

.head__content {
	padding-top: 4rem;
	@include bp($point_2) {
		padding-top: 3rem;
	}
	h1 {
		color: $white;
		font-size: 4.2rem;
		margin-bottom: 1.5rem;
	}
	p {
		color: $white;
		max-width: 65.1rem;
		@include bp($point_2) {
			max-width: 46.3rem;
		}
	}
}

span.u-text-black {
	opacity: 0.6;
}

.global-pagination {
	position: absolute;
	left: 50% !important;
	transform: translateX(-50%) !important;
	bottom: 1.5rem !important;

	.swiper-pagination-bullet {
		background: $white;
		opacity: 1 !important;
		border-radius: 6rem;

		&-active {
			width: 1.6rem !important;
		}
	}
}
