extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.head 
		.section_in 
			.head_main 
				+pageHead(
					'white',
					[
						{ href: '/', text: 'Главная страница' },
						{ href: '/news', text: 'Новости' },
						'Новости'
					]
				)
				.head__content 
					h1 Новости
					p Следите за последними изменениями в сфере залоговых услуг: новые законы, рыночные тренды, полезные лайфхаки и обновления нашей компании.
	section.newspage 
		.section_in 
			.newspage__main 
				ul.newspage_list
					each item in ['Новости компании', 'Залоговые займы', 'Автокредитование', 'Акции и спецпредложения']
						li 
							a(href="#")=item
				.newspage__grid 
					-for(i = 0; i  < 9; i++)
						+news