extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.policy
		.section_in
			.policy__list 
				.txt_block 
					h1 Условия выдачи займа
					p Сумма займа: от 100 000 руб. до 75% от стоимости автомобиля. Срок займа: 1-36 месяцев. Заем погашается ежемесячными равными платежами, которые состоят из оплаты основного долга и процентов. Последствия неуплаты: Пеня при просрочке составляет 20% годовых от суммы просроченной задолженности за каждый календарный день. Минимальная процентная ставка: от 2,5% в месяц. Максимальная процентная ставка: 88,2% годовых или 7,42% в месяц, дополнительная комиссия за выдачу отсутствует. Займ можно погасить не ранее чем через 3 дня. Максимальный период погашения долга: 36 месяцев.
					p Пример расчета: Сумма займа: 120 000 руб. Срок займа: 12 месяцев. Проценты: 6% в месяц (72% годовых). Ежемесячный платеж: 17 200руб. Итого к возврату: 206 400 руб.
					p Предложение не является офертой. Проект okzalog.ru бесплатно предоставляет консультации информационного характера по подбору займа для физических и юридических лиц. Конечные условия уточняйте при прямом общении с деньгиорами. Проект является посредником между лицом, желающим взять займ, и деньгиными учреждениями, которые на основании ФЗ «О потребительском деньгие (займе)» от 21.12.2013 № 353-ФЗ имеют свидетельство о внесении сведений о юридическом лице в государственный реестр микрофинансовых организаций и обладают правом осуществлять профессиональную деятельность по предоставлению потребительских займов.
					p Бесплатный информационный проект "OK Залог" (okzalog.ru) не является финансовым учреждением, банком или деньгиором, и не несёт ответственности за любые заключенные договоры деньгиования или их условия. Чтобы оформить заявку на получение займа, Вам необходимо перейти на сайт одной из микрофинансовых компаний, представленных на данном сайте, и уже там пройти регистрацию и аутентификацию, внести необходимые личные и контактные данныеУслугу по выдаче займа под залог авто предоставляет: Общество с ограниченной ответственностью Микрофинансовая компания «КарМани» (ООО МФК «КарМани»), зарегистрированное в реестре микрофинансовых организаций 25 октября 2011 года за номером 2110177000471, ИНН 7730634468, ОГРН 1107746915781, место нахождения: 119019, г. Москва, ул. Воздвиженка, д. 9, стр. 2, пом. 1
				.txt_block 
					h2 Предложение не является офертой
					p Проект бесплатно предоставляет консультации информационного характера по подбору займа для физических лиц. Конечные условия уточняйте при прямом общении с деньгиорами. Проект является посредником между лицом, желающим взять займ, и деньгиными учреждениями, которые на основании ФЗ «О потребительском деньгие (займе)» от 21.12.2013 № 353-ФЗ имеют свидетельство о внесении сведений о юридическом лице в государственный реестр микрофинансовых организаций и обладают правом осуществлять профессиональную деятельность по предоставлению потребительских займов. 