extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	.single
		section.singlehead 
			.section_in 
				.single_main 
					+pageHead(
						[
							{ href: '/', text: 'Главная страница' },
							{ href: '/news', text: 'Новости' },
							'«OK Залог» запускает новые условия по займам под ПТС: быстрые деньги без потери автомобиля'
						]
					)
					.singlehead__content 
						h1 «OK Залог» запускает новые условия по займам под ПТС: быстрые деньги без потери автомобиля
		section.single 
			.section_in 
				.single_main 
					p 22 мая 2024 года состоялось закрытие книги по определению значения надбавки (спреда) к значению Ключевой ставки Банка России по государственным облигациям Республики Саха (Якутия) серии 34005 (далее – облигации) номинальным объемом 7,7 млрд руб.
					p Государственный регистрационный номер выпуска RU34005RSY0.
					p Срок обращения облигаций составляет 1080 дней (~ 3 года). Купонный период – 30 дней. Амортизация: по 10% от номинала в дату окончания 15-го и 18-го купонов, по 20% от номинала в дату окончания 27-го и 30-го купонов и 40% от номинала в дату окончания 36-го (погашение облигаций) купона. Средневзвешенный срок до погашения – ~ 2,39 года.
					p Номинальная стоимость одной облигации – 1 000 рублей. Цена размещения – 100% от номинала. Эмитенту присвоен кредитный рейтинг ruA+ от рейтингового агентства Эксперт РА.
					p Тип купона - переменный, определяется как значение Ключевой ставки Банка России на 3-й рабочий день, предшествующий дате начала купонного периода плюс надбавка (спред).
					p По итогам сбора заявок от потенциальных покупателей облигаций значения надбавки (спреда) установлено в размере 2,00 %.
					p Размещение облигаций состоится 27 мая 2025 года по открытой подписке при использовании торговых и расчетных систем ПАО Московская биржа. Депозитарием выпуска является НКО АО НРД. Генеральным агентом и техническим андеррайтером выступает Совкомбанк, организаторами выпуска - Совкомбанк, Сбербанк КИБ, Газпромбанк.
					p Выпуск удовлетворяет требованиям по инвестированию средств пенсионных накоплений и страховых резервов, соответствует требованиям по включению в Ломбардный список Банка России.
					p Дата публикации: 23 мая 2025